/* ASIDE */

.aside-holder {
	width: 250px;
	padding: 5px 20px 0px 20px;
	background: $aside-bg;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	overflow-y: auto;
	transform: translate3d(250px, 0px, 0px);
	z-index: 600;
	@include transition(300ms);
	&.active {
		transform: translate3d(0px, 0px, 0px);
	}
	&:after {
		content: "";
	    display: block;
	    height: 50px;
	    width: 100%;
	}
}

.nav-trigger {
	z-index: 600;
	position: relative;
	display: block;
	// top: 15px;
	// right: 30px;
	height: 35px;
	width: 35px;
	border: 2px solid $color-lynch;
	border-radius: 50%;
	z-index: 600;
	transition: none;
	@include respond-to(xs) {
		width: 35px;
		height: 35px;
		left: 5px;
	}
	&.active, &:hover {
		border-color: $color-lynch;
		>span {
			background: $color-lynch;
			&:before, &:after {
				background: $color-lynch;
			}
		}
	}
	// &.active {
	// 	border: 2px solid $color-white;
	// 	span {
	// 		background: $color-white;
	// 		&:before, &:after {
	// 			background: $color-white;
	// 		}
	// 	}
	// }
	>span {
		display: block;
		height: 2px;
		width: 20px;
		background: $color-lynch;
		position: absolute;
		top: 50%;
		margin-top: -1.5px;
		left: 50%;
		margin-left: -10px;
		@include respond-to(xs) {
			height: 2px;
			margin-top: -1px;
			width: 20px;
			margin-left: -10px;
		}
		&:before, &:after {
			content: '';
			display: block;
			height: 2px;
			width: 20px;
			background: $color-lynch;
			position: absolute;
			@include respond-to(xs) {
				height: 2px;
				width: 20px;
			}
		}
		&:before {
			top: -5px;
		}
		&:after {
			bottom: -5px;
		}
	}
}

#aside-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color-black, .4);
	z-index: 400;
	display: none;
	cursor: pointer;
	&.active {
		display: block;
	}
}

.close-aside-holder {
	margin-bottom: 10px;
	text-align: right;
}

.btn-close-aside {
	font-size: 38px;
}
