/* COLORS */

/* For color names was used site - http://chir.ag/projects/name-that-color */

/************************* 
	Main colors start
*************************/
/* White group */
$color-white: #ffffff;
$color-wild-sand: #F4F4F4;
/* Black group */
$color-black: #000000;
/* Blue group */
$color-fountain-blue: #51BBB4; //Blue light
$color-lynch: #6A8898; //Main text color
$color-stratos: #00052D; //Sidebar bg
/* Green group */
$color-chrome-white: #DEEBC4; //Green thin color
$color-chateau-green: #4CAF5B; //Success color
$color-wild-willow: #ACCD6C;
/* Gray group */
$color-dusty-gray: #979797;
$silver: #cccccc;
/************************* 
	Main colors end
*************************/

/************************* 
	Local colors start
*************************/

/************************* 
	Local colors end
*************************/