/* SECTION */

.section {
	padding: 50px 0;
	position: relative;
	@include respond-to(xs) {
		padding: 25px 0;
	}
}

.section-has-bg {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}