/* VARIABLES */

/************************* 
	Local colors start
*************************/
$bg-white: $color-white;
$color-primary: $color-stratos;
$color-success: $color-chateau-green;
$color-info: $color-fountain-blue;
$color-mutted: $color-lynch;
/************************* 
	Local colors end
*************************/

/************************* 
	Fonts variable
*************************/
$font-cardo: 'Cardo-Regular';
$font-regular: 'Cardo-Regular';
$font-bold: 'Cardo-Bold';

/************************* 
	Body variable
*************************/
$main-text-color: $color-lynch;
// $body-main-font: $font-regular;
$body-font-size: 16px;
$body-font-size-tablet: 14px;

/************************* 
	Links color variable
*************************/
$link-color: $color-chrome-white;


/************************* 
	Title color variable
*************************/
$title-color: $color-stratos;
/************************* 
	Sections variable
*************************/
/* Aside variables */
$aside-bg: $color-stratos;

/* Footer variables */
$footer-bg: $color-white;

/* Form variables */
// $input-bg: $color-wasabi;
// $input-border: $color-dusty-gray;
// $placeholder-opacity: 0;


/************************* 
	Paths variables
*************************/
$font-icon-path: '../fonts/fontello/';
/************************* 
	Paths variables end
*************************/



