/* COLORS */

/* For color names was used site - http://chir.ag/projects/name-that-color */

/************************* 
	Main colors start
*************************/
/* White group */
$white: #ffffff;
/* Black group */
$black: #000000;
/* Yellow group */
$ripe-lemon: #F8E71C;
/* Gray group */
$granite-green: #92907C;
$dusty-gray: #9B9B9B; //Input color
$dusty-gray-boulder: #979797;
$tundora: #4A4A4A; //Main text color
/* Pink group */
$mishka: #E6E1EA;
$electric-violet: #BD10E0;
$electric-violet-boulder: #9013FE; //Title color
/************************* 
	Main colors end
*************************/

/************************* 
	Local colors start
*************************/
$text-warning: $ripe-lemon;
$text-mutted: $granite-green;
$text-gray: $dusty-gray;

/************************* 
	Local colors end
*************************/