/* VARIABLES */

/************************* 
	Main setting variable
*************************/
$main-text-color: $tundora;
$link-color: $electric-violet;
$title-color: $electric-violet-boulder;
$footer-bg: $tundora;

/************************* 
	Fonts variable
*************************/
$main-font: 'Open Sans', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
/************************* 
	Body variable
*************************/
$body-text-color: $main-text-color;
$body-main-font: $main-font;
$body-font-size: 16px;
$body-font-size-mobile: 14px;


/************************* 
	Links color variable
*************************/
$main-link-color: $link-color;


/************************* 
	Title color variable
*************************/
$main-title-color: $title-color;
/************************* 
	Sections variable
*************************/
/* Nav variables */
// $nav-bg: $color-white;

/* Footer variables */
$main-footer-bg: $footer-bg;

/* Form variables */
// $input-bg: $color-wasabi;
// $input-border: $color-dusty-gray;
// $placeholder-opacity: 0;


