/* GAME PREVIEW */
.game-holder {
	color: #1d9383;
}
.game-preview {
	position: relative;
	margin-bottom: 20px;
	@include transition(300ms);
	figure {
		a {
			display: block;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				border: 0px solid $color-crimson;
				z-index: 10;
				@include transition(300ms);
			}
			&:hover {
				&:before {
					content: '';
					border: 10px solid $color-crimson;
				}
				img {
					@include scale(1.1, 1.1);
				}
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	img {
		@include transition(600ms);
		width: 100%;
		max-width: 100%;
	}
	.game-preview-list {
		position: absolute;
		z-index: 100;
		bottom: 0;
		right: 0;
		max-width: 162px;
	}
	.text-holder {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		background: rgba($color-black, 0.75);
		text-transform: uppercase;
		padding: 25px 35px;
		text-align: center;
		color: $color-white;
		font-weight: $font-light;
		@include respond-to(phones) {
			padding: 15px;
		}
		p {
			font-size: 18px;
			line-height: 22px;
			@include respond-to(phones) {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}