/* FOOTER */
footer {
	background: $footer-bg;
	padding: 50px 0 20px 0;
	@include respond-to(phones) {
		padding-top: 25px;
	}
	ul {
		margin-bottom: 10px;
		>li {
			>a {
				color: $color-white;
				&:hover, &:focus {
					color: $color-woodland;
				}
			}
		}
	}
	address {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.footer-top-holder {
	margin-bottom: 50px;
	@include respond-to(phones) {
		margin-bottom: 30px;
	}
}
address {
	@include respond-to(phones) {
		text-align: center;
	}
	>a {
		color: $color-white;
		&:hover, &:focus {
			color: $color-white;
			text-decoration: underline;
		}
	}
}
.footer-left-logo {
	width: 100%;
	max-width: 220px;
	display: block;
	@include respond-to(phones) {
		margin: 0 auto;
	}
}
.footer-right-logo {
	display: inline-block;
	margin-bottom: 25px;
	width: 100%;
	max-width: 280px;
	display: block;
}

.footer-small-logo {
	margin-left: 30px;
	display: inline-block;
	margin-top: -30px;
	@include respond-to(phones) {
		display: block;
		width: 60px;
		margin: 0px auto 20px auto;
	}
}

