/* FOOTER */
footer {
	background: $footer-bg;
	padding: 50px 0 50px 0;
	@include respond-to(phones) {
		padding-top: 25px;
	}
	ul {
		margin-bottom: 10px;
		>li {
			>a {
				color: $color-white;
				&:hover, &:focus {
					color: $color-woodland;
				}
			}
		}
	}
}
.footer-top-holder {
	margin-bottom: 30px;
}
address {
	>a {
		color: $color-white;
		&:hover, &:focus {
			color: $color-white;
			text-decoration: underline;
		}
	}
}
.footer-left-logo {
	width: 100%;
	max-width: 220px;
	display: inline-block;
}