/* STYLES */

#main-content {
	@include gradient-vertical($start-color: #9fc857, $end-color: #7daa45, $start-percent: 0%, $end-percent: 100%);
}


//Saved holder section
.saved-holder {
	background: url(../images/elements/dotted.png) no-repeat center top;
	@include respond-to(phones) {
		background: none;
	}
}
.stod-logo {
	width: 100%;
	max-width: 300px;
	margin: 0 auto 20px auto;
	display: block;
	@include respond-to(phones) { 
		max-width: 220px;
	}
}