/* STYLES */

#main-content {
	padding-bottom: 35px;
	@include gradient-vertical($start-color: #9fc857, $end-color: #7daa45, $start-percent: 0%, $end-percent: 100%);
}


//Saved holder section
.saved-holder {
	padding-top: 20px;
	background: url(../images/elements/dotted.png) no-repeat center 20px;
	@include respond-to(tablets-small) {
		background-size: 500px 160px;
}
	@include respond-to(phones) {
		background: none;
	}
}
.stod-logo {
	width: 100%;
	max-width: 300px;
	margin: 0 auto 20px auto;
	display: block;
	@include respond-to(phones) { 
		max-width: 220px;
	}
}
.worker {
	margin-left: -20px;
}