.btn {
	border-radius: 0;
	box-shadow: none;
	background: $site-color-white;
	border-color: $site-color-alto;
	@include transition(150ms);
	text-transform: uppercase;
	font-weight: 300;
	&:hover {
		background: $site-color-picton-blue;
		border-color: $site-color-picton-blue;
		color: $site-color-white;
		.icon {
			color: $site-color-white;
		}
	}
	.icon {
		color: $site-color-silver-chalice;
	}
	&.mobile-icons {
		.icon {
			display: none;
			@include respond-to(phones) {
				display: block;
			}
		}
		.button-text {
			@include respond-to(phones) {
				display: none;
			}
		}
	}
	&.btn-facebook {
		background: $site-color-chambray;
		color: $site-color-white;
		border-color: $site-color-chambray;
		&:hover {
			background: darken($site-color-chambray, 10%);
			border-color: darken($site-color-chambray, 10%);
		}
	}
	&.btn-mutted {
		color: $site-color-mine-shaft;
		background: $site-color-alto;
		border-color: $site-color-alto;
		&:hover, &:focus {
			color: $site-color-mine-shaft;
			background: darken($site-color-alto, 5%);
			border-color: darken($site-color-alto, 5%);
		}
	}
	&.btn-input {
		font-size: 13px;
		line-height: 26px;
	}
	&.btn-mobile-block {
		@include respond-to(phones) {
			display: block;
			margin: 0 0 15px 0 !important;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
} 
.buttons-row {
	margin-bottom: 25px;
	@include respond-to(phones) {
		margin-bottom: 15px;
	}
	button, .btn {
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
}