/* BUTTONS */
.btn {
	text-decoration: none;
	&.active, &:active {
		box-shadow: none;
	}
	&.btn-success {
		background: $color-success;
	}
	&.btn-success-light {
		background: rgba($color-lochinvar, .08);
		color: $color-success;
		border-color: $color-success;
		&:hover, &:focus {
			background: rgba($color-lochinvar, .2);
		}
	}
}