/* VARIABLES */

/************************* 
	Fonts variable
*************************/
/* Fonts Helvetica Neue */
$font-regular: 'HelveticaNeue-Regular';
$font-medium: 'HelveticaNeue-Medium';
$font-bold: 'HelveticaNeue-Bold';

/************************* 
	Body variable
*************************/
$main-text-color: $color-thatch-green;
$body-main-font: $font-regular;
$body-font-size: 14px;

/************************* 
	Links color variable
*************************/
$link-color: $color-tulip-tree;

/************************* 
	Logo color variable
*************************/
$logo-bg: $color-mongoose;
$logo-color: $color-tropical-rain-forest;

/************************* 
	Title color variable
*************************/
$title-color: $color-tropical-rain-forest;
/************************* 
	Sections variable
*************************/
/* Nav variables */
$nav-bg: $color-white;

/* Footer variables */
$footer-bg: $color-tropical-rain-forest;

/* Form variables */
$input-bg: $color-wasabi;
$input-border: $color-dusty-gray;
$placeholder-opacity: 0;


