/* panel */
.panel-holder {
	margin-bottom: 20px;
	padding: 15px;
	background: $color-mine-shaft;
	border-radius: 2px;
	&:last-child {
		margin-bottom: 0;
	}
	&.panel-transparent {
		background: transparent;
	}
}
.panel-pic {
	display: block;
	margin: 0 auto 20px auto;
	max-width: 100%;
}
.panel-title {
	margin-bottom: 5px;
}