/* HERO */

.section-hero {
	height: 92vh;
	background: url(../images/bg/hero-bg.png) no-repeat center center / cover;
	padding: 8% 0;
	text-align: center;
	@include respond-to(xs) {
		height: auto;
	}
}

.hero-logo {
	display: block;
	width: 100%;
	max-width: 460px;
	margin: 0 auto 20px auto;
	@include respond-to(xs) {
		max-width: 200px;
	}
}
.hero-title {
	font-style: italic;
	color: $color-mutted;
	font-weight: $font-regular;
	border-bottom: 2px solid $color-stratos;
	padding-bottom: 10px;
	margin-bottom: 10px;
}





