/* COLORS */

/* For color names was used site - http://chir.ag/projects/name-that-color */

/************************* 
	Main colors start
*************************/
/* White group */
$color-white: #ffffff;
/* Black group */
$color-black: #000000;
$color-mine-shaft: #222222; //Footer bg
/* Blue group */
$color-prussian-blue: #002F58; //Main text color
$color-royal-blue: #2f75df;
/* Green group */
$color-shadow-green: #90C2B9; //Main green color text //Title color
$color-sushi: #8DBA3E; //Btn success bg
$color-fall-green: #E1ECBA; //Btn success-secondary bg
$color-spring-food: #F2F4EA; //Btn inactive bg
$color-christi: #5C890E;
$color-santas-gray: #a0a0a3;
/* Gray group */
$color-gallery: #ededed;
$color-santas-gray: #A0A0A3;
/* Orange group */
$color-tangerine: #f18e00;
/************************* 
	Main colors end
*************************/

/************************* 
	Local colors start
*************************/

/************************* 
	Local colors end
*************************/