/* TAB */
.nav-tabs {
	border: none;
	margin-bottom: 40px;
	>li {
		&.active {
			>a {
				@extend .btn;
				background: $color-sushi;
				border-color: $color-sushi;
				color: $color-white;
				display: block;
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 11px 8.5px 0 8.5px;
					border-color: $color-sushi transparent transparent transparent;
					position: absolute;
					bottom: -11px;
					left: 50%;
					margin-left: -8.5px;
					@include respond-to(xs) {
						content: none;
					}
				}
				&:hover, &:focus {
					color: $color-white;
					background: $color-sushi;
					border-color: $color-sushi;
				}
			}
		}
		>a {
			@extend .btn;
			@extend .btn-primary-outline;
			border-radius: 20px;
			text-transform: uppercase;
			border-color: $color-prussian-blue;
			font-family: $avenir-heavy-font;
			position: relative;
			transition: none;
			&:hover, &:focus {
				background: $color-prussian-blue;
				color: $color-white;
			}
		}
	}
}
.nav-tabs-centered {
	text-align: center;
	>li {
		display: inline-block;
		float: none;
		@include respond-to(xs-small) {
			display: block;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.tab-content {
	margin: 25px 0;
}

