/* VARIABLES */

/************************* 
	Fonts variable
*************************/
$avenir-light-font: 'AvenirLTStd-Light';
$avenir-heavy-font: 'Avenir-Heavy';
/************************* 
	Body variable
*************************/
$main-text-color: $color-prussian-blue;
$body-main-font: $avenir-light-font;
$body-font-size: 16px;

/************************* 
	Links color variable
*************************/
$link-color: $color-shadow-green;

/************************* 
	Colors variables
*************************/
$text-info: $color-prussian-blue;
$text-success: $color-shadow-green;


/************************* 
	Sections variable
*************************/
/* Footer variables */
$footer-bg: $color-mine-shaft;

/* Form variables */
// $input-bg: $color-wasabi;
// $input-border: $color-dusty-gray;
// $placeholder-opacity: 0;


