/* HEADER */

header {
	padding-top: 20px;
	padding-bottom: 40px;
	background: url(../images/bg/header-bg.jpg) no-repeat top center / cover;
	position: relative;
	@include clearfix();
	@include respond-to(mobile) {
		background: $color-black;
		padding: 15px 0;
	}
}
#logo {
	display: block;
	float: left;
	width: 120px;
	img {
		width: 120px;
	}
	@include respond-to(mobile) {
		margin-top: 2px;
	}
}