/* MODAL */
.modal {
	
	.media-object {
		width: 60px;
		height: 60px;
	}
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	border: none;
}
.modal-body {
	&.no-padding-top {
		padding-top: 0;
	}
}