/* MODAL */
.modal {
	.close {
		border-radius: 50%;
		border: 1px solid $color-boulder;
		width: 24px;
		height: 24px;
		opacity: 1;
		span {
			color: $color-boulder;
			font-size: 18px;
			margin-top: -3px;
			display: block;
		}
	}
	.media-object {
		width: 60px;
		height: 60px;
	}
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	border: none;
}
.modal-body {
	&.no-padding-top {
		padding-top: 0;
	}
}