/* FONTS */
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?23118935');
    src: url('../fonts/fontello.eot?23118935#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff?23118935') format('woff'),
    url('../fonts/fontello.ttf?23118935') format('truetype'),
    url('../fonts/fontello.svg?23118935#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fontello-"]:before, [class*=" fontello-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.fontello-at:before { content: '\e800'; } /* '' */
.fontello-backoffice:before { content: '\e801'; } /* '' */
.fontello-comments:before { content: '\e802'; } /* '' */
.fontello-consulting:before { content: '\e803'; } /* '' */
.fontello-hr:before { content: '\e804'; } /* '' */
.fontello-like:before { content: '\e805'; } /* '' */
.fontello-magnifier:before { content: '\e806'; } /* '' */
.fontello-market:before { content: '\e807'; } /* '' */
.fontello-phone:before { content: '\e808'; } /* '' */
.fontello-sales:before { content: '\e809'; } /* '' */
.fontello-menu-dropdown:before { content: '\e80a'; } /* '' */
.fontello-down-open:before { content: '\e80b'; } /* '' */
.fontello-up-open:before { content: '\e80c'; } /* '' */
.fontello-home:before { content: '\e80d'; } /* '' */
.fontello-menu:before { content: '\e80e'; } /* '' */
.fontello-laptop:before { content: '\e80f'; } /* '' */
.fontello-calendar:before { content: '\e810'; } /* '' */
.fontello-ok:before { content: '\e811'; } /* '' */
.fontello-doc:before { content: '\e812'; } /* '' */
.fontello-tags:before { content: '\e813'; } /* '' */
.fontello-link:before { content: '\e814'; } /* '' */
.fontello-users:before { content: '\e815'; } /* '' */
.fontello-globe:before { content: '\e816'; } /* '' */
.fontello-doc-text:before { content: '\e817'; } /* '' */
.fontello-trash:before { content: '\e818'; } /* '' */
.fontello-new-folder:before { content: '\e819'; } /* '' */
.fontello-upload:before { content: '\e81a'; } /* '' */
.fontello-share:before { content: '\e81b'; } /* '' */
.fontello-folder:before { content: '\e81c'; } /* '' */
.fontello-location:before { content: '\e81d'; } /* '' */
.fontello-event:before { content: '\e81e'; } /* '' */
.fontello-camera:before { content: '\e81f'; } /* '' */
.fontello-carousel-next:before { content: '\e820'; } /* '' */
.fontello-carousel-prev:before { content: '\e821'; } /* '' */

