/* BODY styles */
html, body {
	background: $body-bg;
}
.push-down {
	@include respond-to(phones) {
		margin-bottom: 15px;
	}
}

.friends_list {
	@extend .list-unstyled;
}
.friends_list {
	padding: 0;
	margin: 20px 0 10px 0;
	li {
		@include clearfix();
		width: 100%;
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
		.move_to_trash_holder {
			float: left;
			width: 36px;
			text-align: center;
			.move_to_trash {
				margin-top: 10px;
				display: inline-block;
				i {
					font-size: 18px;
					color: #bec4c2;
					@include transition(150ms);
				}
				&:hover {
					i {
						color: darken(#bec4c2, 10%);
					}
				}
			}
		}
		.userpic_holder {
			float: left;
		    margin-right: 10px;
		    width: 40px;
		}
		.user_info {
			vertical-align: top;
			overflow: hidden;
			float: left;
			max-width: 88px;
			width: 100%;
			.username {
				margin-top: 5px;
				margin-bottom: 4px;
				display: block;
				line-height: 13px;
				@include text-overflow();
			}
			.info_line {
				margin-bottom: 0;
			}
			.time_ago {
				margin-bottom: 0;
				font-size: 12px;
				line-height: 12px;
				color: #999999;
			}
		}
		.online_status_holder {
			width: 25px;
			text-align: right;
			float: right;
			vertical-align: middle;
			&.status_online {
				i {
					color: #8fc451;
				}
			}
			i {
				font-size: 16px;
				color: #dddedd;
				cursor: default;
				margin-top: 10px;
				float: right;
			}
		}
	}
}
.input_row {
	position: relative;
}
.input_holder {
	&.with_icon {
		position: static;
		width: 100%;
		height: auto;
	}
}
.media-list {
	@extend .list-unstyled;
	>li {
		display: inline-block;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid $site-color-silver-chalise;
		color: $site-color-silver-chalise;
		line-height: 14px;
		&.active {
			color: $site-color-mine-shaft;
		}
		&:last-child {
			border-right: none;
			padding-right: 0;
			margin-right: 0;
		}
	}
}

.divider {
	height: 30px;
}

.tab-content-white {
	background: $site-color-white;
	border: 1px solid $site-color-alto;
	border-top: none;
	padding: 15px;
}

address {
	position: relative;
	padding-left: 24px;
	color: $site-color-mine-shaft;
	line-height: 25px;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		color: $site-color-mine-shaft;
	}
	.address-icon {
		margin-left: -22px;
		color: $site-color-dusty-gray;
	}
}

.article-item {
	margin-bottom: 20px;
	a {
		color: $site-color-dove-gray;
	}
}
.article-title {
	color: $site-color-picton-blue;
}


.media-body {
	font-size: 12px;
	color: $site-color-dusty-gray;
}
.media-heading {
	color: $site-color-picton-blue;
}
.document-holder {
	p {
		@include clearfix();
	}
	a {
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	.label {
		width: 30px;
		border-radius: 0;
		float: left;
		margin-top: 2px;
		margin-right: 5px;
	}
}

.aside-collapse-list {
	@extend .list-unstyled;
	>li {
		>a {
			display: block;
			background: $site-color-white;
			padding: 10px 20px;
			color: $site-color-cod-gray;
			font-weight: 600;
			border-bottom: 1px solid lighten($site-color-iron, 5%);
			&:hover, &.active {
				background: $site-color-picton-blue;
				text-decoration: none;
				color: $site-color-white;
				i {
					color: $site-color-white;
				}
			}
			&.active {
				i {
					&:before {
						font-family: 'fontello';
						@extend .fontello-up-open;
					}
				}
			}
			i {
				float: right;
				color: $site-color-iron;
			}
		}
		>ul {
			display: none;
			@extend .list-unstyled;
			>li {
				>a {
					display: block;
					background: darken($site-color-picton-blue, 10%);
					color: $site-color-white;
					padding: 7.5px 20px;
					&:hover {
						text-decoration: underline;
					}		
				}
			}
		}
	}
}


/* MISCELLANEOUS styles */
.custom-row {
	margin-left: -6px;
	margin-right: -6px;
}
.custom-col {
	padding-left: 6px;
	padding-right: 6px;
}

.bordered-picture {
	@extend .img-responsive;
	width: 100%;
	border: $bordered-image-border;
}

.bordered-picture-white {
	@extend .img-responsive;
	width: 100%;
	border: $bordered-image-white-border;
}

.bordered-box {
	@extend .clearfix;
	padding: 13px;
	border: 1px solid $bordered-box-border;
	background: $bordered-box-bg;
}

.content-img {
    margin-bottom: 20px;
    width: 100%;
}

.navbar-nav > li > .dropdown-menu,
.dropdown-menu {
	padding: 10px;
	border-radius: 0;
	border: 1px solid $dropdown-bg;
	margin-top: 15px;
	background: $dropdown-bg;
	&.white {
		border-color: $site-color-alto;
		background: $site-color-white;
		&:before {
			border-color: transparent transparent $site-color-white transparent;
		}
		&:after {
			border-color: transparent transparent $site-color-alto transparent;
		}
	}
	// &.left {
	// 	left: 0;
	// 	right: auto;
	// 	@include respond-to(phones) {
	// 		left: 0;
	// 		right: auto;
	// 	}
	// }
	&.right {
		left: auto;
		right: 0;
		@include respond-to(phones) {
			left: 0;
			right: auto;
		}
	}
	@include respond-to(phones) {
		left: 0;
		right: auto;
	}
	&:before {
		content: '';
		position: absolute;
		left: 10px;
		top: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent $dropdown-bg transparent;
		z-index: 1;
	}
	&:after {
		content: '';
		position: absolute;
		left: 9px;
		top: -11px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 11px 11px 11px;
		border-color: transparent transparent $dropdown-bg transparent;
		@include respond-to(phones) {
			content: none;
		}
	}
	> li {
		border-bottom: 1px solid $dropdown-item-border;
		&:last-child {
			border-bottom: none;
		}
		> a {
			font-size: 1.077rem;
			line-height: 1.231rem;
			padding: 10px;
			color: $dropdown-item-color;
			font-weight: 300;
			&:hover {
				color: $dropdown-item-color;
				background: $dropdown-item-active-bg;
			}
		}
	}
}

.breadcrumb {
	padding: 0;
	background: none;
	margin-bottom: 20px;
	> li {
		+ li:before {
			content: '>';
			font-weight: 700;
			color: $site-color-silver-chalice;
		}
		//font-weight: 600;
	}
	> .active {
		color: $site-color-mine-shaft;
	}
}

.alert-holder {
	background: $site-color-carnation;
	padding: 11px 15px;
	margin-bottom: 25px;
	@extend .media;
	.arrows-holder {
		float: right;
		margin-left: 15px;
		.icon {
			color: $site-color-white;
			cursor: pointer;
			font-size: 1.231rem;
		}
	}
	.text-holder {
		@extend .media-body;
	}
	.alerts-list {
		margin-bottom: 0;
		@extend .list-unstyled;
		li {
			display: none;
			font-size: 1.077rem;
			line-height: 1.385rem;
			color: $site-color-white;
		}
	}
}


/* MAIN CONTENT Section styles */
.main-content {
	padding: 25px 0;
	@include respond-to(phones) {
		padding: 15px 0;
	}
}

/* OWL CAROUSEL styles */
.images-carousel-holder {
	position: relative;
	margin-bottom: 50px;
	@include respond-to(phones) {
		margin-bottom: 40px;
	}
	img {
		width: 100%;
	}
	.item {
		position: relative;
		color: $carousel-caption-color;
	}
	.caption {
		position: absolute;
		left: 0;
		padding: 10px;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		@include respond-to(phones) {
			padding: 5px;
			font-size: 0.769rem;
			line-height: 0.769rem;
		}
	}
}

.owl-theme {
	.owl-controls {
		margin-top: 0;
		.owl-buttons {
			div {
				position: absolute;
				top: 50%;
				padding: 0;
				margin: -1.390rem 0 0 0;
				background: none;
				opacity: 0.6;
				@include transition(150ms);
				&:before {
					font-family: 'fontello';
					font-size: 2.769rem;
				}
				&.owl-prev {
					left: 15px;
					@extend .fontello-carousel-prev;
				}
				&.owl-next {
					right: 15px;
					@extend .fontello-carousel-next;
				}
			}
		}
		.owl-pagination {
			position: absolute;
			width: 100%;
			left: 0;
			margin-top: 20px;
			line-height: 0;
			@include respond-to(phones) {
				margin-top: 15px;
			}
		}
		.owl-page {
			span {
				width: 10px;
				height: 10px;
				background: $site-color-alto;
				border-radius: 0;
				margin: 0 5px;
				opacity: 1.0;
			}
			&.active {
				span {
					background: $site-color-picton-blue;
				}
			}
		}
	}
}

.touch {
	.owl-buttons {
		display: none;
	}
}

/* ARTICLE DEMOS styles */
.article-demos-holder {
	.item {
		@extend .bordered-box;
		margin-bottom: 20px;
		@include respond-to(phones) {
			margin-bottom: 15px;
		}
	}
	.title {
		margin-bottom: 15px;
		@include respond-to(phones) {
			margin-bottom: 10px;
		}
		a {
			display: block;
			@include text-overflow();
		}
	}
	.article-demo-img {
		display: block;
		margin-bottom: 10px;
		img {
			@extend .img-responsive;
			width: 100%;
		}
	}
	.article-demo-text {
		margin-bottom: 15px;
	}
	.publication-date {
		//font-size: 0.923rem;
		display: block;
		margin-bottom: 5px;
		color: $article-demo-publication-date;
	}
	.comments-and-likes-holder {
		color: $article-demo-comments-and-likes-holder-color;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $article-demo-comments-and-likes-holder-border;
		.comments {
			margin-right: 20px;
		}
	}
	.actions-holder {
		@extend .clearfix;
		.action-like {
			float: left;
		}
		.action-read-more {
			float: right;
		}
	}
}

/* MENU TILES styles */
.menu-tiles-holder {
	margin-bottom: 25px;
	@include respond-to(phones) {
		margin-bottom: 15px;
	}
	.custom-row {
		margin: 0 -5px;
		@extend .clearfix;
	}
	.item {
		width: 33.33333%;
		float: left;
		padding: 5px;
		@include respond-to(tablets-small) {
			width: 50%;
		}
		@include respond-to(phones) {
			width: 33.33333%;
		}
	}
	.inner {
		display: block;
		text-align: center;
		padding: 20px 0;
		color: $menu-tiles-color;
		@include respond-to(tablets-large) {
			padding: 13px 0;
		}
		@include respond-to(tablets-small) {
			padding: 20px 0;
		}
		@include respond-to(phones) {
			padding: 15px 0;
		}
		&.bg-tussock {
			background: $site-color-tussock;
		}
		&.bg-persian-green {
			background: $site-color-persian-green;
		}
		&.bg-lavender-purple {
			background: $site-color-lavender-purple;
		}
		&:hover {
			text-decoration: none;
		}
		.icon {
			font-size: 2.769rem;
			margin-bottom: 10px;
			display: inline-block;
		}
		.title {
			display: block;
			text-transform: uppercase;
		}
	}
}

/* SIDEBAR styles */
.column-sidebar {
	.sidebar-item {
		margin-bottom: 30px;
		@include respond-to(phones) {
			margin-bottom: 15px;
		}
	}
}

.sidebar-item-title {
	font-size: 1.538rem;
	color: $site-color-mine-shaft;
	text-transform: uppercase;
}

.sidebar-item {
	&.sidebar-item-news {
		.item {
			@extend .media;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.news-image {
			float: left;
			width: 40px;
			border: 1px solid $site-color-alto;
			margin-right: 12px;
			img {
				@extend .img-responsive;
			}
		}
		.news-preamble {
			@extend .media-body;
			.title {
				margin-bottom: 5px;
			}
		}
	}
	&.sidebar-item-latest-video {
		.iframe-holder {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	&.sidebar-item-links {
		font-size: 1.231rem;
    	line-height: 1.538rem;
    	.list {
    		margin-bottom: 0;
    		@extend .list-unstyled;
    		li {
    			margin-bottom: 10px;
    			&:last-child {
    				margin-bottom: 0;
    			}
    		}
    	}
	}
	&.sidebar-item-members {
		.item {
			@extend .media;
		}
		.item-portrait {
			float: left;
		    margin-right: 10px;
		    width: 40px;
		}
		.item-content {
			@extend .media-body;
		}
		.name {
		    margin-bottom: 2px;
		}
		.post-holder {
			color: #999999;
    		font-size: 1.077rem;
    		span {
    			border-left: 1px solid #999999;
			    margin-left: 5px;
			    padding-left: 5px;
			    &:first-child {
			    	border-left: none;
			    	margin-left: 0;
			    	padding-left: 0;
			    }
			    &.status {
			    	color: $site-color-mine-shaft;
			    }
    		}
		}
	}
	&.sidebar-item-calendar {
		.items-holder {
			margin-bottom: 20px;
		}
		.item {
			@extend .media;
			padding: 10px;
			border: 1px solid $site-color-mercury;
			margin-top: 0;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(even) {
				background: $site-color-alabaster-alt;
			}
			.part-left {
				width: 40px;
				height: 40px;
				background: $site-color-picton-blue;
				text-align: center;
				line-height: 40px;
				float: left;
				margin-right: 15px;
				font-size: 1.846rem;
				color: $site-color-white;
			}
			.title {
				@include text-overflow();
				margin-top: 1px;
				font-size: 1.077rem;
				margin-bottom: 0;
				> a {
					color: inherit;
					&:hover {
						color: $site-color-picton-blue;
					}
				}
			}
			.date {
				font-size: 0.923rem;
				color: $site-color-dusty-gray;
			}
		}
		.add-new-event {
			display: inline-block;
			margin-bottom: 10px;
		}
	}
}
.form-horizontal {
	.control-label {
		text-align: left;
	}
}
label {
	color: $site-color-black;
}
legend {
	border: none;
}

.profile-image-holder {
	.media-left {
		min-width: 130px;
	}
}

/* GROUP Page styles */
.tabpanel-group-name {
	.nav-tabs {
		border: none;
		&.nav-tabs-gray-border {
			border-bottom: 1px solid $site-color-alto;
		}
		>li {
			> a, a:focus, a:hover {
				border-radius: 0;
				border-color: #3ca4ef;
				border-bottom: 1px solid #d0d0d0;
				background: #3ca4ef;
				margin-right: 5px;
				font-size: 1.077rem;
				color: #ffffff;
			}
			&.active {
				> a {
					background: #ffffff;
					border-color: #d0d0d0;
					border-bottom: 1px solid #ffffff;
					color: #222222;
				}
			}
			&.tabdrop {
				> a {
					cursor: pointer;
					margin-right: 0;
				}
				.caret {
					display: none;
				}
				.dropdown-menu {
					left: auto;
					right: 10px;
					margin-top: 15px;
					&:before {
						left: auto;
						right: 10px;
					}
					> li {
						a:hover,
						a:focus {
							margin-right: 0;
							border-bottom: none;
						}
					}
				}
			}
		}
		&.nav-tabs-border {
			border-bottom: 1px solid $site-color-alto;
			>li {
				>a {
					border-bottom: none;
				}
			}
		}
	}
	.tab-panel p {
		margin-bottom: 20px;
	}
}
.tab-content {
	&.mt {
		margin-top: 20px;
	}
}
hr {
	border-color: $site-color-alto;
}
.content-item-holder {
	padding: 20px 0;
}
.text-uppercase {
	text-transform: uppercase;
}
.font-bold {
	font-weight: 700;
}
.table-documents {
	@extend .table;
	@extend .table-hover;
	margin-bottom: 0;
	> tbody > tr > td {
		//line-height: 1.385rem;
		vertical-align: middle;
	}
	.icon {
		color: $site-color-silver-chalice;
		font-size: 1.385rem;
	}
	.delete {
		.icon {
			color: $site-color-dove-gray;
		}
	}
	> tbody > tr:hover > td {
		background: $site-color-picton-blue;
		color: $site-color-white;
		a {
			color: $site-color-white;
		}
		.icon {
			color: $site-color-white;
		}
	}
}


/* GALLERY ITEM styles */
.gallery-item {
	margin-bottom: 20px;
	.inner {
		color: $site-color-dusty-gray;
		margin-bottom: 8px;
		@extend .bordered-box;
		padding: 10px;
		@include transition(150ms);
		&:hover {
			background: $site-color-mystic;
		}
	}
	.item-image {
		display: block;
		margin-bottom: 12px;
	}
	img {
		width: 100%;
	}
	.gallery-title {
		margin-bottom: 5px;
		@include text-overflow();
		color: $body-link-color;
	}
	.posted-by {
		@include text-overflow();
		color: $site-color-dusty-gray;
		font-size: 0.923rem;
		.delete {
			color: $site-color-dove-gray;
			font-size: 1.231rem;
			display: inline-block;
			width: 20px;
			&:hover {
				text-decoration: none;
			}
		}
		.author {
			//margin-left: 2px;
		}
	}
}

/* MEDIA SHARE BLOCK */
.share_box_holder {
	margin-bottom: 17px;
	margin-top: 17px;
	overflow: visible;
	font-size: 13px;
	@extend .media;
	@include respond-to(tablets) {
	}
	label {
		font-weight: normal;
	}
	.share_attach_holder {
		margin-bottom: 17px;
	}
	.media_left_subholder {
		float: left;
		width: 50px;
		margin-right: 20px;
		@include clearfix();
		@include respond-to(tablets) {
			margin-bottom: 10px;
			width: 40px;
			float: none;
			.userpic_holder {
				width: 40px;
			}
		}
		.userpic {
			display: block;
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	.media-body {
		padding: 10px;
		background: none #ecf4f2;
		border-radius: 4px;
		overflow: hidden;
		@include respond-to(tablets) {
			overflow: visible;
		}
	}
	.share_box_controls_holder {
		margin-bottom: 0;
		&.clicked {
			margin-bottom: 10px;
		}
		.textarea_holder {
			overflow: hidden;
			textarea {
				padding-right: 15px;
				border-color: #cbd1ce;
			}
		}
		.share_box_tabs_switcher_holder {
			width: 110px;
			float: right;
			padding: 11px 0;
			.share_box_tabs_switcher {
				font-size: 23px;
				height: 23px;
				width: 23px;
				line-height: 23px;
				display: inline-block;
				color: #bec4c2;
				text-align: center;
				margin-left: 10px;
				&:hover {
					text-decoration: none;
					i[class*='comment'] {
						color: #d46641;
					}
					i[class*='event'] {
						color: #f4bf66;
					}
					i[class*='location'] {
						color: #678db8;
					}
					i[class*='camera'] {
						color: #d46641;
					}
				}
				&[href="#share_box_tab_whats_new"] {
					display: none;
				}
			}
		}
	}
	.textarea_holder {
		position: relative;
		textarea {
			padding-right: 40px;
		}
		.btn_close {
			position: absolute;
			right: 10px;
			top: 13px;
			color: #dddedd;
			&:hover {
				color: darken(#dddedd, 15%);
				text-decoration: none;
			}
			i {
				font-size: 20px;
				line-height: 20px;
				height: 20px;
				width: 20px;
				vertical-align: bottom;
			}
		}
	}
	.input_row {
		textarea {
			padding: 13px 6px;
			height: 45px;
		}
	}
}

.input_row {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}
.input_holder {
    margin-bottom: 10px;
    position: relative;
    vertical-align: top;
    &.with_icon {
    	color: #bac0be;
	    font-size: 16px;
	    text-align: center;
	    i {
	    	position: absolute;
	    	top: 0;
	    	height: 100%;
	    	right: 5px;
	    	line-height: 34px;
	    }
    }
}

.search-field-holder {
	.search-input-holder {
		border-left: 1px solid $site-color-alto;
	}
}

.contact-wrapper {
	.search-input-holder {
		border-left: 1px solid $site-color-alto;
		padding-left: 14px;
		@include respond-to(phones) {
			border: 1px solid $site-color-alto;
		}
	}
	.search-submit {
		@include respond-to(phones) {
			height: 42px;
		}
	}
	#fluid-search-field {
		margin-bottom: 24px;
	}
}
.words-filter {
	list-style: none;
	padding: 0;
	li {
		font-weight: 600;
		display: inline-block;
		margin-right: 9px;
		font-size: 16px;
		@include respond-to(phones) {
			margin-right: 8px;
		}
		&:first-child {
			margin-right: 16px;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
	.not-found {
		color: $site-color-dusty-gray;
	}
}
.new-contact-box {
	margin-bottom: 30px;
}
.search-contact-item-box {
	margin-bottom: 28px;
}
.search-contact-header {
	text-transform: uppercase;
	color: $site-color-mine-shaft;
	margin-bottom: 15px;
}
.search-contact-item {
	&:nth-child(even) {
		.item {
			background: $site-silver-concerete;
		}
	}
	margin-bottom: 10px;
	&:last-of-type {
		margin-bottom: 0;
	}
	.item {
		margin: 0;
	}
	.top-part {
		p {
			color: $site-color-mine-shaft;
			margin-bottom: 3px;
			// @include respond-to(tablets-small) {
			// 	font-size: 0.8rem;
			// }
			white-space: pre-line;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				color: $site-color-mine-shaft;
				&:hover, &:focus {
					color: $site-color-mine-shaft;
				}
			}
		}
	}
	i {
		font-size: 1.1rem;
		vertical-align: bottom;
		color: $site-color-dusty-gray;
		display: inline-block !important;
		// @include respond-to(tablets-small) {
		// 	font-size: 0.9rem;
		// }
	}
	.address {
		position: relative;
		line-height: 1.55rem;
		@include respond-to(tablets-small) {
			margin-top: 10px;
		}
		@include respond-to(phones) {
			padding-left: 20px;			
			&:before {
				font-family: 'fontello';
				content: '\e80d';
				position: absolute;
				left: 2px;
				top: 0;
				font-size: 0.9rem;
				color: $site-color-dusty-gray;
			}
		}
	}
	.bottom-part {
		border-top: 1px solid $site-color-alto;
		padding-top: 15px;
		margin-top: 15px;
		@include clearfix;
		ul {
			float: right;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 10px;
				&:last-of-type {
					margin-right: 0;
				}
			}
			i {
				font-size: 1.2rem;
			}
		}
	}
}
.contact-photo {
	margin-right: 10px;
	height: 40px;
	width: 40px;
	float: left;
}
.contact-name {
	margin-bottom: 2px;
}
.contact-name-list {
	li {
		display: inline-block;
		line-height: 12px;
		color: $site-color-silver-chalice;
		&:first-of-type {
			border-right: 1px solid $site-color-silver-chalice;
			padding-right: 4px;
			margin-right: 4px;
		}
		&:last-of-type {
			color: $site-color-mine-shaft;
		}
	}
}
.contact-aside {
	.checkbox {
		&.active {
			background: $site-color-picton-blue;
			label {
				color: $site-color-white;
			}
		}
		padding: 7px 15px;
		color: $site-color-mine-shaft;
		font-size: 1.1rem;
		input {
			position: absolute;
			top: 0;
			right: 0;
		}
		label {
			display: block;
			padding: 0;
			width: 100%;
			position: relative;
			@include clearfix();
		}
	}
}
