/* COLORS variables */
$site-color-white: #ffffff;
$site-color-black: #000;
$site-color-picton-blue: #3ca4ef;
$site-color-regal-blue: #003d6a;
$site-color-tussock: #cf9c50;
$site-color-carnation: #f1595b;
$site-color-lavender-purple: #9d85be;
$site-color-persian-green: #00a296;
$site-color-mine-shaft: #222222;
$site-color-dusty-gray: #999999;
$site-color-alto: #d0d0d0;
$site-color-mystic: #ebf0f3;
$site-color-prussian-blue: #002540;
$site-color-dove-gray: #666666;
$site-color-silver-chalice: #aeaeae;
$site-color-kashmir-blue: #416a90;
$site-color-mercury: #e2e2e2;
$site-color-chambray: #3b5998;
$site-color-alabaster: #fcfcfc;
$site-color-alabaster-alt: #f9f9f9;
$site-color-cod-gray: #111111;
$site-color-iron: #bfc3c5;
$site-color-silver-chalise: #b2b2b2;
$color-silver-chalise: #a9a9a9;
$site-silver-concerete: #f3f3f3;

/* BODY variables */
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 13px;
$body-line-height: 1.385rem;
$body-font-color: $site-color-dove-gray;
$body-link-color: $site-color-picton-blue;
$body-bg: $site-color-mystic;


/* HEADER variables */
$header-top-bg: $site-color-white;
$search-field-color: $site-color-dusty-gray;
$search-field-bg: $site-color-white;
$search-field-border: $site-color-alto;
$search-field-submit-bg: $site-color-picton-blue;
$search-field-submit-icon-color: $site-color-white;

$userpic-border: $site-color-mercury;
$username-color: $site-color-picton-blue;
$username-down-icon-color: $site-color-mine-shaft;
$user-post-color: $site-color-dusty-gray;

$header-navi-item-color: $site-color-white;
$header-navi-item-active-color: $site-color-picton-blue;
$header-navi-mobile-toggle: $site-color-picton-blue;
$header-navbar-collapse-bg: $site-color-kashmir-blue;


/* IMAGES CAROUSEL variables */
$carousel-caption-color: $site-color-white;


/* ARTICLE DEMO variables */
$article-demo-publication-date: $site-color-dusty-gray;
$article-demo-comments-and-likes-holder-color: $site-color-mine-shaft;
$article-demo-comments-and-likes-holder-border: $site-color-alto;


/* PREFOOTER variables */
$prefooter-bg: $site-color-regal-blue;
$prefooter-column-title-color: $site-color-white;
$prefooter-most-viewed-posts-item-border: $site-color-kashmir-blue;
$prefooter-most-viewed-posts-item-text-color: $site-color-white;


/* FOOTER variables */
$footer-bg: $site-color-prussian-blue;
$footer-links-list-color: $site-color-white;
$footer-links-list-active-color: $site-color-picton-blue;


/* MISCELLANEOUS variables */
$bordered-image-border: 5px solid $site-color-mystic;
$bordered-image-white-border: 5px solid $site-color-white;

$bordered-box-border: $site-color-alto;
$bordered-box-bg: $site-color-white;

$dropdown-bg: $site-color-kashmir-blue;
$dropdown-item-color: $site-color-white;
$dropdown-item-active-bg: $site-color-picton-blue;
$dropdown-item-border: $site-color-white;

$menu-tiles-color: $site-color-white;




