/* VARIABLES */

//For color names was used site - http://chir.ag/projects/name-that-color
$color-white: #ffffff; //White
$color-black: #000000; //Black
$color-witch-haze: #fffb91; //Yellow
$color-sushi: #7daa45; //Green
$color-celery: #a3cc5a; //Green light
$color-sushi-dark: #77a141; //Green dark
$color-woodland: #345229; //Green ultra dark
$color-glacier: #80b3c0; //Blue color
$color-apple: #509140;
$color-aths-special: #eae9cd;


/* Font VARIABLES */
$font-family: 'quicksandregular';


$font-light: 'quicksandlight';
$font-light-italic: 'quicksandlight_italic';
$font-regular: 'quicksandregular';
$font-italic: 'quicksanditalic';
$font-dash: 'quicksanddash';
$font-bold: 'quicksandbold';
$font-bold-italic: 'quicksandbold_italic';


//Body VARIABLES
$main-text-color: $color-white;
$body-font-size: 14px;
$body-line-height: 22px;
$body-main-font: $font-family;

/* Form VARIABLES */
$input-color-placeholder: $color-white;
$input-font-size-placeholder: $body-font-size;
$input-line-height-placeholder: $body-line-height;


/* Sections VARIABLES */

//Header variables

//Footer VARIABLES
